<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css\branchStyleSheet\mycoordinators.css" / >
    <title>Document</title>

    <style>
      .toast {
        position: fixed;
        top: 60px;
        right: 60px;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        z-index: 9999;
        opacity: 0;
        transition: opacity 2s ease-out;
      }

      .toast.success {
        background-color: green;
      }

      .toast.error {
        background-color: red;
      }

      .toast.show {
        opacity: 1;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="search">
        <input
          type="text"
          class="searchTerm"
          placeholder="Search Your Coordinator"
          ng-model-options="{debounce : 500}"
          ng-model="searchQuery"
          ng-change="handlePagination()"
        />
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>

    <div
      class="toast"
      ng-class="{'show': showToast, 'success': toastColor === 'green', 'error': toastColor === 'red'}"
    >
      {{toastMessage}}
    </div>

    <div class="card-container">
      <div class="card" ng-repeat="coordinator in coordinators">
        <img ng-src="{{coordinator.image}}" alt="Placeholder Image" />
        <div class="card-info">
          <h2>{{ coordinator.name }}</h2>
          <p>{{ coordinator.branch.location }}</p>
          <p>{{ coordinator.school.name }}</p>
          <div class="card-buttons">
            <button
              class="edit-button"
              data-toggle="modal"
              data-target="#editModal"
              ng-click="openEditModal(coordinator)"
            >
              Edit
            </button>

            <button
              class="delete-button"
              data-toggle="modal"
              data-toggle="modal"
              data-target="#deleteModal"
              ng-click="openDeleteModal(coordinator)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="paginationMain">
      <button
        class="page-numbers"
        ng-repeat="page in pages"
        ng-class="{ active: currentPage === page }"
        ng-click="handlePagination(page)"
      >
        {{page}}
      </button>
    </div>

    <!-- Edit Modal -->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit Information</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="schoolNameInput">Enter New Coordinator Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="schoolNameInput"
                  ng-model="updatedCoordinatorName"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-primary"
              ng-click="updateCoordinatorName(updatedCoordinatorName)"
            >
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Modal -->
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete School</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are You Sure You want to delete the coordinator?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger"
              ng-click="confirmDelete(coordinator)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
