<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link
      rel="stylesheet"
      href="css\branchStyleSheet\BranchStats.css"
      ;
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="head">
      <div class="col-div-6">
        <p class="nav">Analytics Dashboard</p>
      </div>
      <div class="clearfix"></div>
    </div>

    <div id="main">
      <div class="clearfix"></div>
      <br />

      <div class="col-div-4-1">
        <div class="box">
          <p class="head-1">Coordinators</p>
          <p class="number">{{totalCoordinators}}</p>
          <i class="fa fa-line-chart box-icon"></i>
        </div>
      </div>

      <div class="pie" ng-controller="coordinatorAtiveInactiveController">
        <canvas
          id="doughnut"
          class="chart chart-doughnut"
          chart-data="data"
          chart-labels="labels"
          chart-colors="colors"
        >
        </canvas>
        <span>
          <h8 style="margin-left: 100px; margin-top: 40px">
            Active and Inactive Branches
          </h8>
        </span>
      </div>

      <div class="pie" ng-controller="coordinatorRegistration">
        <canvas
        id="line"
        class="chart chart-line"
        chart-data="data"
        chart-labels="labels"
        chart-series="series"
        chart-options="options"
        chart-colors="colors"
      ></canvas>
      <span>
        <div style="margin-left: 100px; margin-top: 20px">
          Coordinator Registrations
        </div>
      </span>
      </div>

      <!-- <div class="col-div-4-1">
        <div class="box">
          <p class="head-1">Branches</p>
          <p class="number">{{totalBranches}}</p>
          <i class="fa fa-line-chart box-icon"></i>
        </div>
      </div> -->

      <!-- <div class="col-div-4-1">
        <div class="box">
          <p class="head-1">Coordinators</p>
          <p class="number">{{totalCoordinators}}</p>
          <i class="fa fa-line-chart box-icon"></i>
        </div>
      </div> -->

      <div class="clearfix"></div>
      <br />

      <!-- <div class="col-div-4-1">
        <div class="box">
          <p class="head-1">Students</p>
          <p class="number">{{totalStudents}}</p>
          <p class="percent">
            <i class="fa fa-line-chart box-icon"></i>
          </p>
        </div>
      </div> -->

      <div class="clearfix"></div>
      <br />
    </div>

    <div class="statsStyle">
      <!-- <div ng-controller="classWiseStatsController">
        <canvas
          id="bar"
          class="chart chart-bar"
          chart-data="data"
          chart-labels="labels"
          chart-series="series"
          chart-options="options"
          chart-colors="colors"
        ></canvas>
        <span>
          <div style="margin-left: 100px; margin-top: 20px">
            Class Wise Distribution
          </div>
        </span>
      </div> -->

      <!-- <div ng-controller="activeInactiveStudentsCountController">
        <canvas
          id="doughnut"
          class="chart chart-doughnut"
          chart-data="data"
          chart-labels="labels"
          chart-colors="colors"
        >
        </canvas>
        <span>
          <h8 style="margin-left: 50px; margin-top: 20px">
            Active and Inactive Students
          </h8>
        </span>
      </div> -->

      <!-- <div class="pie" ng-controller="studentsRegistrationStats">
        <canvas
          id="line"
          class="chart chart-line"
          chart-data="data"
          chart-labels="labels"
          chart-series="series"
          chart-options="options"
          chart-colors="colors"
        ></canvas>
        <span>
          <div style="margin-left: 100px">Student Registrations</div>
        </span>
      </div> -->

      <!-- <div class="box-1">
        <div class="content-box-1">
          <p class="head-1">Recent Registrations</p>
          <br />

          <div class="m-box active">
            <p>
              {{latestSchoolName}}<br /><span class="no-1"
                >{{latestSchoolCreatedAt | date:'h:mm a'}}</span
              >
            </p>
            <span class="no">{{latestSchoolCreatedAt | date:'MMM d, y'}}</span>
          </div>

          <div class="m-box">
            <p>
              {{latestBranchschoolName}} {{latestBranchLocation}}<br />
              <span class="no-1"
                >{{latestBranchCreatedAt | date:'h:mm a'}}</span
              >
            </p>
            <span class="no">{{latestBranchCreatedAt | date:'MMM d, y'}}</span>
          </div>

          <div class="m-box active">
            <p>
              {{latesCoordinatorName}}<br /><span class="no-1"
                >{{latestCoordinatorCreatedAt | date:'h:mm a'}}</span
              >
            </p>
            <span class="no"
              >{{latestCoordinatorCreatedAt | date:'MMM d, y'}}</span
            >
          </div>

          <div class="m-box">
            <p>
              {{latestStudentName}}<br /><span class="no-1"
                >{{latestStudentCreatedAt | date:'h:mm a'}}</span
              >
            </p>
            <span class="no">{{latestStudentCreatedAt | date:'MMM d, y'}}</span>
          </div>
        </div>
      </div> -->

      <!-- <div class="pie" ng-controller="lineChart">
        <canvas
          id="pie"
          class="chart chart-pie"
          chart-data="data"
          chart-labels="labels"
          chart-options="options"
          chart-colors="colors"
        >
        </canvas>
        <span>
          <div style="margin-left: 80px; margin-top: 20px">
            Count of Active and Inactive Schools
          </div>
        </span>
      </div> -->

      <!-- <div class="pie" ng-controller="chartController">
        <canvas
          id="line"
          class="chart chart-line"
          chart-data="data"
          chart-labels="labels"
          chart-series="series"
          chart-options="options"
          chart-colors="colors"
        ></canvas>
        <span>
          <div style="margin-left: 100px; margin-top: 20px">
            School Registrations
          </div>
        </span>
      </div> -->
    </div>

    <!-- <div class="statsBelow">
      <div class="pie" ng-controller="AttendanceCount">
        <canvas
          id="base"
          class="chart-horizontal-bar"
          chart-data="data"
          chart-labels="labels"
        >
        </canvas>
        <span>
          <div style="margin-left: 100px; margin-top: 20px">
            Attendance Comparison
          </div>
        </span>
      </div>
    </div> -->

    <!--     
      <div class="col-div-4-1">
        <div class="box-1">
          <div class="content-box-1">
            <p class="head-1">Total Sale <span>View All</span></p>

            <div class="circle-wrap">
              <div class="circle">
                <div class="mask full">
                  <div class="fill"></div>
                </div>
                <div class="mask half">
                  <div class="fill"></div>
                </div>
                <div class="inside-circle">70%</div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    <!-- <div class="col-div-4-1">
        <div class="box-1">
          <div class="content-box-1">
            <p class="head-1">Acitivity <span>View All</span></p>
            <br />
            <p class="act-p">
              <i class="fa fa-circle"></i> Lorem Ipsum is simply dummy text of
              the printing and typesetting industry.
            </p>
            <p class="act-p">
              <i class="fa fa-circle" style="color: red !important"></i> Lorem
              Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
            <p class="act-p">
              <i class="fa fa-circle" style="color: green !important"></i> Lorem
              Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
            <p class="act-p">
              <i class="fa fa-circle"></i> Lorem Ipsum is simply dummy text of
              the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div> -->
  </body>
</html>
